# Java
*.class
bin/
target/

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.iml
.classpath
.project

# Security (TRES IMPORTANT)
*.p12
*.jks
*.keystore
truststore.*
*.cer

# OS
.DS_Store
Thumbs.db

# Outil admin (hors suivi)
src/SetupAESKey.java
